<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aljudy.cs4720_android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="aljudy.cs4720_android.RPiActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="aljudy.cs4720_android.MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="aljudy.cs4720_android.MicrophoneActivity"
            android:label="@string/title_activity_microphone" >
        </activity>
        <activity
            android:name="aljudy.cs4720_android.GameActivity"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="aljudy.cs4720_android.TwitterActivity"
            android:label="@string/title_activity_twitter" >
        </activity>
        <activity
            android:name="aljudy.cs4720_android.InstructionsActivity"
            android:label="@string/title_activity_instructions"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="aljudy.cs4720_android.WinActivity"
            android:label="@string/title_activity_win" >
        </activity>
    </application>

</manifest>
